<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <h1>AGRIMART</h1>
            <p>Discover pure, organic goodness at Agrimart—where fresh, wholesome products come straight from nature to you.</p>
        </div>
        <div class="footer-services">
            <h3>Our Services</h3>
            <ul>
                <li>Essentials</li>
                <li>Vegetables</li>
                <li>Fruits</li>
                <li>Exotics</li>
                <li>Dairy</li>
            </ul>
        </div>
        <div class="footer-links">
            <h3>Useful Links</h3>
            <ul>
                <li>About Us</li>
                <li>Services</li>
                <li>Blog</li>
                <li>Feedback</li>
            </ul>
        </div>
        <div class="footer-contact">
            <h3>Contact Us</h3>
            <p>Agromart Pune</p>
            <p>+91 8468954007</p>
            <p>Email</p>
        </div>
        <div class="footer-social">
            <h3>Follow Us</h3>
            <ul>
                <li>Instagram</li>
                <li>Twitter</li>
                <li>Email</li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2024 All rights reserved Agrimart</p>
    </div>
</footer>