<section class="services">
    <h2>Services</h2>
    <div class="image-slider">
        <div class="slides">
          <div *ngFor="let imgs of silderimg">
            <div class="slide active">
                <img [src]="imgs.url" alt="Image 1"></div>
            </div>
        </div>
        <button class="prev" onclick="changeSlide(-1)">&#10094;</button>
        <button class="next" onclick="changeSlide(1)">&#10095;</button>
    </div>
</section>
<div class="services-container">
    <h1>Agrimart Services</h1>
    <div class="services-grid">
      <div class="service-item">
        <img src="https://kyssafarms.com/cdn/shop/files/kyssa-01_460x.jpg?v=1663585783" alt="Essentials">
        <div class="overlay">
          <h1>Essentials</h1>
        </div>
      </div>
      <div class="service-item">
        <img src="https://kyssafarms.com/cdn/shop/files/kyssa-02_460x.jpg?v=1663585823" alt="Vegetables">
        <div class="overlay">
          <h1>Vegetables</h1>
        </div>
      </div>
      <div class="service-item">
        <img src="https://kyssafarms.com/cdn/shop/files/kyssa-03_460x.jpg?v=1663586702" alt="Exotics">
        <div class="overlay">
          <h1>Exotics</h1>
        </div>
      </div>
      <div class="service-item">
        <img src="https://kyssafarms.com/cdn/shop/files/kyssa-04_460x.jpg?v=1663586732" alt="Fruits">
        <div class="overlay">
          <h1>Fruits</h1>
        </div>
      </div>
      <div class="service-item">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT-8WWh_PAlmsbdJ1_1CjJqs0dvxTozdDPodfMAl7Nkbq9zncJd" alt="Dairy">
        <div class="overlay">
          <h1>Dairy</h1>
        </div>
      </div>
    </div>
  </div>

  <img src={{image}} alt="">
<script>
    
slideIndex = 0;

function showSlides() {
    const slides = document.querySelectorAll('.slide');
    slides.forEach(slide => slide.classList.remove('active'));
    slides[slideIndex].classList.add('active');
}

function changeSlide(n) {
    const slides = document.querySelectorAll('.slide');
    slideIndex = (slideIndex + n + slides.length) % slides.length;
    showSlides();
}

showSlides();
setInterval(() => changeSlide(1), 3000);  // Auto-slide every 3 seconds

</script>